.gas-station-layout {
  background-color: white;
  width: 300px;
  text-align: left;
  position: absolute;
  left: 60px;
  top: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.near-by-station {
  padding: 10px;
}

.locationButton {
  background-color: white; /* Green */
  border: 1px;
  border-color: grey;
  color: grey;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
